<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOUR RECIPIES</title> 
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <header>
        <p>Recipe Hub</p>
        <div class="head-tag">
            <a href="viewprofile">View Profile</a>
            <a href="/">Logout</a>
        </div>
    </header>
    <div class="main">
        <h1>RECIPIES</h1>
        <div class="buttons">
            <a href="addrecipe">Add Recipies</a>
            <a href="update">Update Recipies</a>
            <a href="delete">Delete Recipies</a>
        </div>
    {% for i in sqldata %}
    <div class="card">
        <p class="title">Recipe ID</p>
        <p class="text1">{{i.r_id}}</p>
        <p class="title">Recipe Name</p>
        <p class="text1">{{i.r_name}}</p>
        <p class="title">Ingredients</p>
        <p class="text1">{{i.ingredients}}</p>
        <p class="title">Instructions</p>
        <p class="text1">{{i.instructions}}</p>
        <p class="title">Cooking Time</p>
        <p class="text1">{{i.cook_time}}</p>
        <p class="title">Serving Size</p>
        <p class="text1">{{i.serve_size}}</p>
        <p class="title">Category</p>
        <p class="text1">{{i.category}}</p>
    </div>
    {% endfor %}
    </div>
</body>
</html>